<h1>Chatbot</h1>

<%= form_tag ask_path, method: :post do %>
  <%= text_field_tag :question, nil, placeholder: "Ask a question..." %>
  <%= submit_tag "Ask" %>
<% end %>

<div class="response">
  <% if params[:response].present? %>
    <p><%= params[:response] %></p>
  <% end %>
</div>